# Ignore the huge original dataset
chess_games.csv

# Ignore the generated sample/processed data files
chess_games_TOP_PLAYERS.csv
processed_move_data.csv
chess_games_SAMPLE.csv

# Ignore Python cache files
__pycache__/

# Ignore Mac system files
.DS_Store